<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Novo Consumo</h1>

    <form action="/consumos/add" method="POST">

        <label>Tipo</label>

        <select name="tipo">

            <option value="Água">Água</option>

            <option value="Energia">Energia</option>

        </select>

        <br><br>

        <label>Mês</label>

        <select name="mes">

            <option>Janeiro</option>
            <option>Fevereiro</option>
            <option>Março</option>
            <option>Abril</option>
            <option>Maio</option>
            <option>Junho</option>
            <option>Julho</option>
            <option>Agosto</option>
            <option>Setembro</option>
            <option>Outubro</option>
            <option>Novembro</option>
            <option>Dezembro</option>

        </select>
        
        <br><br>

        <label>Ano</label>

        <select name="ano">

            <option>2025</option>
            <option>2026</option>
            <option>2027</option>

        </select>
        <br><br>

        <label>Valor</label>

        <input type="number" step="0.01" name="valor">

        <br><br>

        <button>

            Salvar

        </button>

    </form>
</body>

</html>