<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gráfico de Consumo</h1>

<canvas id="grafico"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const consumos = {{{consumos}}};

const labels = consumos.map(c => c.mes);

const valores = consumos.map(c => c.valor);

new Chart(document.getElementById("grafico"),{

    type:"bar",

    data:{

        labels:labels,

        datasets:[{

            label:"Consumo",

            data:valores

        }]

    }

});

</script>

<br>

<a href="/">
    <button>Voltar</button>
</a>
</body>
</html>